#menu {
    background-color: darkslateblue;
}

.menu-btn {
    position: absolute;
    right: -40px;
    z-index: 2;
}

@media (max-width: 450px) {
    #menu {
        position: fixed;
        z-index: 1;
    }
}

@media (min-width: 768px) {
    .menuToggle {
        display: none;
    }

    .menu-btn {
        display: none;
    }
}
